.DS_Store
.netrwhist
*.swp

# sublime-text 2
*.cache
*.pyc
config/sublime-text-2/Settings
config/sublime-text-2/Pristine\ Packages
config/sublime-text-2/Backup*

# weechat
weechat/*.conf
weechat/logs
weechat/weechat.log
weechat/script

# ignore installed vim plugins
vim/bundle
