.DS_Store
.netrwhist
*.swp
installer/test/*_fake_home

# sublime text 3
config/sublime-text-3/Cache
config/sublime-text-3/Local

# weechat
weechat/logs
weechat/weechat.log
weechat/script
weechat/weechat_fifo*
weechat/sec.conf

# weechat plugins
weechat/urlserver_list.txt

# ignore installed vim plugins
vim/bundle/*
!vim/bundle/Vundle.vim

# fonts
fonts/**/.uuid
