[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[alias]
    st = status
    d = diff
    co = checkout
    b = branch
    bm = branch --merged
    bum = branch --no-merged
    llg = log -p
    logme = log --author=\"Adam Price\"
    lst = log --stat
[user]
	name = Adam Price
	email = komidore64@gmail.com
[mergetool]
	keepBackup = false
[core]
    editor = vim
[apply]
    whitespace = strip
