[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[alias]
    st = status
    d = diff
    co = checkout
    b = branch
    llg = log -p
    logme = log --author=\"Adam Price\"
    logst = log --stat
[user]
    name = Adam Price
    email = komidore64@gmail.com
[mergetool]
    keepBackup = false
[core]
    editor = vim
